---
layout: default
title: Test
---

<div class="grid">
	<div class="posts">
		{% for post in site.categories.manga-review limit:1 %}
	  <div class="unit half">
			<p><a href="{{ post.url }}"><img src="{{ post.thumbnail }}" alt="{{ post.title }}"/></a></p>
		</div>
		{% endfor %}
		{% for post in site.categories.anime-review limit:1 %}
	  <div class="unit half">
			<p><a href="{{ post.url }}"><img src="{{ post.thumbnail }}" alt="{{ post.title }}"/></a></p>
		</div>
		{% endfor %}
	</div>
</div>
