		<footer>
		  <div class="footer">
		    <div class="wrapper">
		      <ul class="footer-left">
		        <li><a href="/terms">Terms of Use</a></li>
		        <li><a href="/releases">Releases</a></li>
		          <li><a href="/login">Sign in</a></li>
		      </ul>

		      <div class="footer-right">
		        <a href="https://github.com"><span class="octicon octicon-code"></span> with <span class="octicon octicon-heart"></span> by <span class="octicon octicon-logo-github"></span></a>
		      </div>
		    </div>
		  </div>
		</footer>
</body>
</html>
